
<style type="text/css">
/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Georgia', Arial, sans-serif;
  font-size: 20px;
  line-height: 2;
  color: white;
} 
 </style>